src/main/mule/pruebita.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="597c23d7-f373-447e-bf32-8eca03506445" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="pruebitaFlow" doc:id="ae2af7fe-ad0f-446e-9779-a74dcd97337d" >
		<http:listener doc:name="Listener" doc:id="8982093a-461e-4bae-a350-1149fce482d0" config-ref="HTTP_Listener_config" path="/provider"/>
		<set-payload value="#['hola mundo10']" doc:name="Set Payload" doc:id="ebd20e7a-da74-49ff-a726-bedda3a07618" />
	</flow>
</mule>
